<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ESS Optimization</title>

    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
</head>

<body class="body-pd" id="body-pd">
    <script src="https://cdn.jsdelivr.net/npm/gojs/release/go-debug.js"></script>
    <h1>hdhdhdhd</h1>
    <script id="code">
      function init() {
              var $ = go.GraphObject.make;  // for conciseness in defining templates
        
              var yellowgrad = $(go.Brush, "Linear", { 0: "rgb(254, 201, 0)", 1: "rgb(254, 162, 0)" });
              var greengrad = $(go.Brush, "Linear", { 0: "#98FB98", 1: "#9ACD32" });
              var bluegrad = $(go.Brush, "Linear", { 0: "#B0E0E6", 1: "#87CEEB" });
              var redgrad = $(go.Brush, "Linear", { 0: "#C45245", 1: "#871E1B" });
              var whitegrad = $(go.Brush, "Linear", { 0: "#F0F8FF", 1: "#E6E6FA" });
        
              var bigfont = "bold 13pt Helvetica, Arial, sans-serif";
              var smallfont = "bold 11pt Helvetica, Arial, sans-serif";
        
              // Common text styling
              function textStyle() {
                return {
                  margin: 6,
                  wrap: go.TextBlock.WrapFit,
                  textAlign: "center",
                  editable: true,
                  font: bigfont
                }
              }

        
              myDiagram =
                $(go.Diagram, "myDiagramDiv",
                  {
                    // have mouse wheel events zoom in and out instead of scroll up and down
                    "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
                    initialAutoScale: go.Diagram.Uniform,
                    "linkingTool.direction": go.LinkingTool.ForwardsOnly,
                    layout: $(go.LayeredDigraphLayout, { isInitial: false, isOngoing: false, layerSpacing: 50 }),
                    "undoManager.isEnabled": true
                  });

                
        
              // when the document is modified, add a "*" to the title and enable the "Save" button
              myDiagram.addDiagramListener("Modified", function(e) {
                var button = document.getElementById("SaveButton");
                if (button) button.disabled = !myDiagram.isModified;
                var idx = document.title.indexOf("*");
                if (myDiagram.isModified) {
                  if (idx < 0) document.title += "*";
                } else {
                  if (idx >= 0) document.title = document.title.substr(0, idx);
                }
              });
        
              var defaultAdornment =
                $(go.Adornment, "Spot",
                  $(go.Panel, "Auto",
                    $(go.Shape, { fill: null, stroke: "dodgerblue", strokeWidth: 4 }),
                    $(go.Placeholder)),
                  // the button to create a "next" node, at the top-right corner
                  $("Button",
                    {
                      alignment: go.Spot.TopRight,
                      click: addNodeAndLink
                    },  // this function is defined below
                    new go.Binding("visible", "", function(a) { return !a.diagram.isReadOnly; }).ofObject(),
                    $(go.Shape, "PlusLine", { desiredSize: new go.Size(6, 6) })
                  )
                );
        
              // define the Node template
              
        
              // Undesired events have a special adornment that allows adding additional "reasons"
              var UndesiredEventAdornment =
                $(go.Adornment, "Spot",
                  $(go.Panel, "Auto",
                    $(go.Shape, { fill: null, stroke: "dodgerblue", strokeWidth: 4 }),
                    $(go.Placeholder)),
                  // the button to create a "next" node, at the top-right corner
                  $("Button",
                    {
                      alignment: go.Spot.BottomRight,
                      click: addReason
                    },  // this function is defined below
                    new go.Binding("visible", "", function(a) { return !a.diagram.isReadOnly; }).ofObject(),
                    $(go.Shape, "TriangleDown", { desiredSize: new go.Size(10, 10) })
                  )
                );
        
              var reasonTemplate = $(go.Panel, "Horizontal",
                $(go.TextBlock, "Reason",
                  {
                    margin: new go.Margin(4, 0, 0, 0),
                    maxSize: new go.Size(200, NaN),
                    wrap: go.TextBlock.WrapFit,
                    stroke: "whitesmoke",
                    editable: true,
                    font: smallfont
                  },
                  new go.Binding("text", "text").makeTwoWay())
              );
        
        
              myDiagram.nodeTemplateMap.add("UndesiredEvent",
                $(go.Node, "Auto",
                  new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                  { selectionAdornmentTemplate: UndesiredEventAdornment },
                  $(go.Shape, "RoundedRectangle",
                    { fill: redgrad, portId: "", toLinkable: true, toEndSegmentLength: 50 }),
                  $(go.Panel, "Vertical", { defaultAlignment: go.Spot.TopLeft },
        
                    $(go.TextBlock, "Drop", textStyle(),
                      {
                        stroke: "whitesmoke",
                        minSize: new go.Size(80, NaN)
                      },
                      new go.Binding("text", "text").makeTwoWay()),
        
                    $(go.Panel, "Vertical",
                      {
                        defaultAlignment: go.Spot.TopLeft,
                        itemTemplate: reasonTemplate
                      },
                      new go.Binding("itemArray", "reasonsList").makeTwoWay()
                    )
                  )
                ));
        
    
        
              // clicking the button on an UndesiredEvent node inserts a new text object into the panel
              function addReason(e, obj) {
                var adorn = obj.part;
                if (adorn === null) return;
                e.handled = true;
                var arr = adorn.adornedPart.data.reasonsList;
                myDiagram.startTransaction("add reason");
                myDiagram.model.addArrayItem(arr, {});
                myDiagram.commitTransaction("add reason");
              }
        
              // clicking the button of a default node inserts a new node to the right of the selected node,
              // and adds a link to that new node
              function addNodeAndLink(e, obj) {
                var adorn = obj.part;
                if (adorn === null) return;
                e.handled = true;
                var diagram = adorn.diagram;
                diagram.startTransaction("Add State");
                // get the node data for which the user clicked the button
                var fromNode = adorn.adornedPart;
                var fromData = fromNode.data;
                // create a new "State" data object, positioned off to the right of the adorned Node
                var toData = { text: "new" };
                var p = fromNode.location;
                toData.loc = p.x + 200 + " " + p.y;  // the "loc" property is a string, not a Point object
                // add the new node data to the model
                var model = diagram.model;
                model.addNodeData(toData);
                // create a link data from the old node data to the new node data
                var linkdata = {};
                linkdata[model.linkFromKeyProperty] = model.getKeyForNodeData(fromData);
                linkdata[model.linkToKeyProperty] = model.getKeyForNodeData(toData);
                // and add the link data to the model
                model.addLinkData(linkdata);
                // select the new Node
                var newnode = diagram.findNodeForData(toData);
                diagram.select(newnode);
                diagram.commitTransaction("Add State");
              }
        
              // replace the default Link template in the linkTemplateMap
              myDiagram.linkTemplate =
                $(go.Link,  // the whole link panel
                  new go.Binding("points").makeTwoWay(),
                  { toShortLength: 15 },
                  new go.Binding(),
                  $(go.Shape,  // the link shape
                    { stroke: "#2F4F4F", strokeWidth: 2.5 }),
                  $(go.Shape,  // the arrowhead
                    { toArrow: "kite", fill: "#2F4F4F", stroke: null, scale: 2 })
                );
        
        
              var palette =
                $(go.Palette, "myPaletteDiv",  // create a new Palette in the HTML DIV element
                  {
                    // share the template map with the Palette
                    nodeTemplateMap: myDiagram.nodeTemplateMap,
                    autoScale: go.Diagram.Uniform  // everything always fits in viewport
                  });

                  
              palette.model.nodeDataArray = [
                { key: "C", color: "cyan" },
                { key: "LC", color: "lightcyan" },
                { key: "A", color: "aquamarine" },
                { key: "T", color: "turquoise" },
                { key: "PB", color: "powderblue" },
                { key: "LB", color: "lightblue" },
                { key: "LSB", color: "lightskyblue" },
                { key: "DSB", color: "deepskyblue" }
              ];

              palette.nodeTemplate =
                $(go.Node, "Horizontal",
                  $(go.Shape,
                    { width: 40, height: 40, fill: "white" },
                    new go.Binding("fill", "color")),
                  $(go.TextBlock,{ margin: 5 },
                    new go.Binding("text", "color"))
                );

                myDiagram.nodeTemplate =
                $(go.Node, "Auto",
                  $(go.Shape, { width: 40, height: 40, fill: "white" },
                    { fill: "white" },
                    new go.Binding("fill", "color"),
                    { portId: "", fromLinkable: true, toLinkable: true, cursor: "pointer" }),
                  $(go.TextBlock, { margin: 5 },
                    new go.Binding("text", "color"))
                );
            

        
              // read in the JSON-format data from the "mySavedModel" element
              load();
              layout();
            }
        
            function layout() {
              myDiagram.layoutDiagram(true);
            }
        
            // Show the diagram's model in JSON format
            function save() {
              document.getElementById("mySavedModel").value = myDiagram.model.toJson();
              myDiagram.isModified = false;
            }
            function load() {
              myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
            }
            window.addEventListener('DOMContentLoaded', init);
    </script>
    <div id="sample">
        <div style="width: 100%; display: flex; justify-content: space-between">
          <div id="myPaletteDiv" style="flex-grow: 1; height: 480px; border: solid 1px black"></div>
          <div id="myDiagramDiv" style="flex-grow: 1; height: 480px; border: solid 1px black"></div>


        </div>    
        
        <br />

      </div>






    <!--Container Main end-->
    <!-- JavaScript at the bottom for fast page loading -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>
</html>
