{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-5">
    <h1>Active Projects </h1>
</div>
<br>
<div class="row d-flex justify-content-center">

    <a href="#" class="col-md project-card justify-content-left" style="text-decoration: none;">
    <div class="card bg-light mb-3 text-dark" style="max-width: 48rem; width: 24rem;">
        <div class="card-header">Project 1</div>
            <div class="card-body">
                <h5 class="card-title">Project subtitle</h5>
                <p>Short project description outlining aims of project</p>
                <h6>Flows: 3</h6>
                <h6>Warnings: </h6>
            </div>
        </div>
    </a>
    <a href="#" class="col-md project-card justify-content-left" style="text-decoration: none;">
    <div class="card bg-light mb-3 text-dark" style="max-width: 48rem; width: 24rem;">
    <div class="card-header">Project 1</div>
    <div class="card-body">
        <h5 class="card-title">Project subtitle</h5>
        <p>Short project description outlining aims of project</p>
        <h6>Flows: 3</h6>
        <h6>Warnings: </h6>
    </div>
    </div>
    </a>
    <a href="#" class="col-md project-card justify-content-left" style="text-decoration: none;">
    <div class="card bg-light mb-3 text-dark" style="max-width: 48rem; width: 24rem;">
    <div class="card-header">Project 1</div>
    <div class="card-body">
        <h5 class="card-title">Project subtitle</h5>
        <p>Short project description outlining aims of project</p>
        <h6>Flows: 3</h6>
        <h6>Warnings: </h6>
    </div>
    </div>
    </a>
    <a href="#" class="col-md project-card justify-content-left" style="text-decoration: none;">
    <div class="card bg-light mb-3 text-dark" style="max-width: 48rem; width: 24rem;">
    <div class="card-header">Project 1</div>
    <div class="card-body">
        <h5 class="card-title">Project subtitle</h5>
        <p>Short project description outlining aims of project</p>
        <h6>Flows: 3</h6>
        <h6>Warnings: </h6>
    </div>
    </div>

    
</div>
{% endblock %}