{% extends 'dtkbase.html' %}
{% set active_page = "workflow" %}
{% block css %}
  <style>
  .graph-button {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: #a3a3a3;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    text-align: vertical;
    cursor: pointer;
  }


  .selected {
    border-style: solid;
    border-color: blue;
  }
  </style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <div>
        <h4 class="mx-4">Site A Data</h4>
    </div>
    <div class="collapse navbar-collapse mx-4" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="{{ url_for('toolkit.data_summary') }}">Summary</a>
        <a class="nav-item nav-link " href="{{ url_for('toolkit.data_explore') }}">Explore</a>
        <a class="nav-item nav-link active" href="{{ url_for('toolkit.data_charts') }}">Charts</a>
        <a class="nav-item nav-link" href="{{ url_for('toolkit.data_history') }}">History</a>
        <a class="nav-item nav-link" href="{{ url_for('toolkit.data_settings') }}">Settings</a>
        <a class="nav-item nav-link mx-4 text-dark"href="{{ url_for('toolkit.workflow') }}"><i class="bi bi-arrow-90deg-right"></i>  Back to flow</a>
      </div>
    </div>
</nav>
<div class="container">
  <div class="row m-4">
    <div class="col-4 m-2">
      <div class="form-group">
        <label for="sel1">Select Graph Type:</label>
        <select class="form-control" id="sel1">
          <option>Line</option>
          <option>Scatter</option>
          <option>Bar</option>
          <option>Histogram</option>
        </select>
      </div>
    </div>
    <div class="axis col-4 m-2">
      <form class='form-inline'>
        <div class="form-group">
          <label for="XAxisSelect">X: </label>
          <select class="form-control" id="XAxisSelect" style="width: 80%">
            {% for i in axis %}
            <option>{{ i }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="XAxisSelect">Y: </label>
          <select class="form-control" id="XAxisSelect" style="width: 80%">
            {% for i in axis %}
            <option>{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(function(){
	$('.graph-button').click(function(){
		$(this).toggleClass('selected');
	});
});
</script>
{% endblock %}