{% extends 'dtkbase.html' %}
{% set active_page = "workflow" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <div>
        <h4 class="mx-4">Site A Data</h4>
    </div>
    <div class="collapse navbar-collapse mx-4" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="{{ url_for('toolkit.data_summary') }}">Summary</a>
        <a class="nav-item nav-link active" href="{{ url_for('toolkit.data_explore') }}">Explore</a>
        <a class="nav-item nav-link" href="{{ url_for('toolkit.data_charts') }}">Charts</a>
        <a class="nav-item nav-link" href="{{ url_for('toolkit.data_history') }}">History</a>
        <a class="nav-item nav-link" href="{{ url_for('toolkit.data_settings') }}">Settings</a>
        <a class="nav-item nav-link mx-4 text-dark"href="{{ url_for('toolkit.workflow') }}"><i class="bi bi-arrow-90deg-right"></i>  Back to flow</a>
      </div>
    </div>
</nav>
<div class="row justify-content-around m-4">
  <div class="col-4 h-100 gx-5 m">
    {{ data_table|safe }}
   {{ script|safe }}
  </div>
  <div class="col-4 gx-5">
    <h4>Sample</h4>
    <hr>
    <form>
      <div class="form-group row mt-2">
        <label for="" class="col-sm-5 col-form-label">No. of records:</label>
        <div class="col-sm-7">
          <input type="" class="form-control" id="inputPassword" value="1000" >
        </div>
      </div>
      <div class="form-group row mt-5">
        <h6 class="font-weight-bold">Sort Values</h6>
        <label for="">Order By</label>
        <div class="col-sm-7 my-2">
          <input type="" class="form-control" id="" aria-describedby="order" placeholder="column">
          <a class="text-blue">Add sort value</a>
        </div>  
      </div>
      <div class="form-group row mt-5">
        <h6 class="font-weight-bold">Filter Values</h6>
        <label for="">Order By</label>
        <div class="col-sm-7 my-2">
          <input type="" class="form-control" id="" aria-describedby="order" placeholder="column">
          <a class="text-blue">Add sort value</a>
        </div>  
      </div>
    </form>
  </div>
</div>
{% endblock %}
